@font-face {
    font-family: 'Atkinson Hyperlegible Bold';
    src: url('./fonts/Atkinson-Hyperlegible-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Atkinson Hyperlegible BoldItalic';
    src: url('./fonts/Atkinson-Hyperlegible-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Italic';
    src: url('./fonts/Atkinson-Hyperlegible-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Regular';
    src: url('./fonts/Atkinson-Hyperlegible-Regular.woff2') format('woff2');
}
